.containerListItinerary {
  width: 100%;
}

.containerItinerary {
  width: 90%;
  margin: 15px auto;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}

.wrapperItinerary {
  width: 100%;
  padding: 2%;
  display: flex;
}

.profilePicture {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#imageProfile {
  width: 100%;
  border-radius: 50%;
  margin: auto;
}

.infoItinerary {
  width: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inlineInfo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
.inlineInfo span {
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.containerActivities {
  width: 100%;
}
.containerActivitiesExpand{
  width: 90%;
  margin: 30px auto;
}
